@charset "UTF-8";

body{
	color : black;
	padding : auto;
}

/*
ul.errorMessages{
	text-align : center;
	padding : auto;
}
ul.errorMessages li{

	list-style-position: inside;
}

*/
div.message{
	background-color : rgb(220,220,220);
	border : 10px solid;
	border-radius : 20px;
	border-color: #CCFFFF ;
}

div.messageBody{
	clear : both ;
}

div.contributer{
	font-weight: 800;
	float : left;
}

div.text{
	padding-top : 0px;
	padding : 0 20px 0 20px;
}

div.category{
	color : rgba(0,0,255,0.5);
	font-size : 14px
}

div.messageBody{


}

div.comment{
	clear : both ;
	font-size : 14px;

}

div.comments{

	border:double #999999;
	border-width : 4px 0 0 0;
}

div.reply{
	font-size : 12px;
}

.deletePostButton{
	margin:0 0 0 200px;
}
.postCommentButton{
	padding-left:135px;
}
.deleteCommentButton{
	padding-left:135px;
}

