@charset "UTF-8";

body{
	padding : auto;
	text-align : center;
	margin-top : 100px;
}

ul.errorMessages{
	text-align : center;
	padding : auto;
}

ul.errorMessages li{

	list-style-position: inside;
}

.loginButton{
	padding-left:190px;
}

message.strong{
	font : 18px;

}
